<html xmlns:th="http://www.thymeleaf.org" layout:decorate="~{common/indexLayout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

</head>
<body class="w-100 text-center">
<th:block layout:fragment="content">
    <div class="card w-100">
        <div class="card-header text-start">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb my-2">
                    <li class="breadcrumb-item"><a th:href="@{/}">首頁</a></li>
                    <li class="breadcrumb-item active" aria-current="page">權限維護</li>
                </ol>
            </nav>
        </div>
        <div class="card-body">
            <form id="dtlForm" th:object="${role}" method="POST" th:action="@{/role}" class="need-validated">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:field="*{roleId}" placeholder="群組ID" th:readonly="*{roleId != null && roleId != ''}" required>
                    <label for="roleId">群組ID</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:field="*{roleName}" placeholder="群組名稱" required>
                    <label for="roleName">群組名稱</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" th:field="*{roleDesc}" placeholder="系統別" required>
                    <label for="roleDesc">敘述</label>
                </div>
                <input type="hidden" name="action" />
                <a href="#" class="btn btn-sm btn-primary mx-2" onclick="submit('C')" th:if="*{roleId == null || roleId == ''}">新增</a>
                <a href="#" class="btn btn-sm btn-primary mx-2" onclick="submit('U')" th:if="*{roleId != null && roleId != ''}">更新</a>
                <a href="#" class="btn btn-sm btn-danger mx-2" onclick="submit('D')" th:if="*{roleId != null && roleId != ''}">刪除</a>
                <a th:href="@{/role}" class="btn btn-sm btn-secondary mx-2" >返回</a>
            </form>
        </div>
    </div>
    <script>
        function submit(action){
            let form = document.querySelector("#dtlForm");
            form.reportValidity();
            if (!form.checkValidity() && action != 'D') {
                return;
            }
            form.querySelector("input[name='action']").value = action;
            form.submit();
        }

    </script>
</th:block>
</body>
</html>